body{
    height: 100vh;
    display: flex;
    background-color:#BDE8F5;
    justify-content: center;
    align-items: center;
    
}
.cards{
    padding: 40px;
    box-shadow: 10px 10px 20px;
    
}

.buttons{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 3px;
}
